* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pirata One", sans-serif;
    background-image:url(sea.png); 
    color: #2c2c2c; 
    line-height: 1.6;
}

.container {
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
    background: linear-gradient(to bottom, #45b7fd, #0fb2f3);
    border:solid; 
    border-radius:50px; 
    color: #000000;
    border-bottom: 4px solid #000000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 3.5rem;
    color: #fff; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); 
    letter-spacing: 2px; 
}

h2 {
    font-size: 2.2rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase; 
}

p { 
    font-size: 3.5rem;
    color: #ffffff; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); 
    letter-spacing: 2px;   
}


footer {
    text-align: center;
    size:40px; 
    padding: 20px 0;
    background-color: #02b2da; 
    color: #f8f9fa; 
    border-top: 4px solid #000000;
    font-size: 1rem;
    box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.1);
    border:solid,4px; 
}


.btn {
    background-color: #07bff2;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    cursor:crosshair;
    margin-top: 20px;
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s; 
    align-items: center;
    display: block;
    margin: auto;
      
}

.btn:hover {
    background-color: #0085e4;
    transform: translateY(-3px);
}


p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #000000;
}

a {
    color: #00458b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #0177ff;
    text-decoration: underline;
}


@font-face {
    font-family: 'Pirata One';
    src: url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
}


